.exam {
    display: flex;
    padding: 1rem;
    border: 1px solid #444;
}

.exam .exam-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.exam .list-group {
    margin: 1rem 0 0 1rem;
}

.exam .list-group-item {
    padding: .25rem;
}

.exam .list-group-item .term {
    margin-right: .5rem;
}

.btn-tag {
    width: fit-content;
}

.inner {
    display: table;
}

.question-list {
    padding-top: 10px;
}